torch>=1.12.0
torchvision>=0.13.0
pytorch-lightning==1.9.4
monai==1.2.0
einops==0.6.1
scipy>=1.7.3
scikit-learn>=1.0.2
scikit-image>=0.19.2
opencv-python>=4.6.0
matplotlib>=3.5.2
numpy>=1.22.3
pandas>=1.4.2
nibabel>=4.0.1
h5py>=3.7.0
tqdm>=4.64.0
tensorboard>=2.9.0
timm>=0.6.11
SimpleITK>=2.2.0
tensorrt>=8.4.0
lifelines>=0.27.0  # Cox回归分析
efficientnet-pytorch>=0.7.1  # 备选骨干网络 